.bg-emerald-50\/75 {
  --tw-bg-opacity: 0.75;
  background-color: rgba(236, 253, 245, var(--tw-bg-opacity));
}
.bg-gradient-to-r {
  background-image: -o-linear-gradient(left, var(--tw-gradient-stops));
  background-image: -webkit-gradient(linear, left top, right top, from(var(--tw-gradient-stops)));
  background-image: linear-gradient(to right, var(--tw-gradient-stops));
}
.from-gray-900 {
  --tw-gradient-from: rgba(17, 24, 39, var(--tw-from-opacity, 1));
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to, rgba(255, 255, 255, 0));
}
.to-emerald-900 {
  --tw-gradient-to: rgba(6, 78, 59, var(--tw-to-opacity, 1));
}
.border-indigo-800\/50 {
  --tw-border-opacity: 0.5;
  border-color: rgba(55, 48, 163, var(--tw-border-opacity));
}
.rounded-lg {
  border-radius: 0.5rem;
}
.border-2 {
  border-width: 2px;
}
.font-sans {
  font-family: Graphik,sans-serif;
}
.font-serif {
  font-family: Merriweather,serif;
}
.p-4 {
  padding: 1rem;
}
.visited\:text-green-600:visited {
  --tw-text-opacity: 1;
  color: rgba(5, 150, 105, var(--tw-text-opacity));
}
.markdown h1, .markdown h2, .markdown h3 {
  font-weight: 700;
  --tw-text-opacity: 1;
  color: rgba(236, 72, 153, var(--tw-text-opacity));
}
.markdown a {
  --tw-text-opacity: 1;
  color: rgba(5, 150, 105, var(--tw-text-opacity));
}
.markdown a:hover {
  --tw-text-opacity: 1;
  color: rgba(167, 243, 208, var(--tw-text-opacity));
}
.markdown a:visited {
  --tw-text-opacity: 1;
  color: rgba(6, 95, 70, var(--tw-text-opacity));
}